<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&amp;subset=cyrillic" rel="stylesheet">
    <meta charset="utf-8">
    <title>Directory overview</title>
    <style>
      {{ less }}
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="h1">
        资源共享仓库
      </h1>
      <p class="p">
        因 GitHub repo 的限制，如果遇到文件夹名字带 .pdf，请下载文件夹中的所有内容，在本地点击其中的 .exe 文件，自解压合并回 PDF 文档。
      </p>
      <div class="list">
        {{ list }}
      </div>
    </div>
    <script>
    var list = document.querySelector('.list');
    list.addEventListener('click', function (e) {
      var el = e.target.closest('.list-el__description');
      if (el) {
        var parent = el.parentNode;
        if (parent.classList.contains('list-el_folder')) {
          parent.classList.toggle('list-el_folder-open');
          e.preventDefault();
        }
      }
    });
    </script>
  </body>
</html>
