<div class="list-el {% if folder %}list-el_folder{% endif %}">
  <a href="{{ link }}" class="list-el__description">
    <div class="list-el__icon"></div>
    <div class="list-el__text">
      <span class="list-el__text-span">{{ name }}</span>
    </div>
  </a>
  <div class="list-el__hidden">{{ children }}</div>
</div>
